In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv("cold_storage/SPX_Cash.csv.gz")
df.head()

,#RIC,Alias Underlying RIC,Domain,Date-Time,GMT Offset,Type,Open,High,Low,Last,Volume
0,.INX,NaN,Market Price,2020-01-02T14:30:00.000000000Z,-6,Intraday 1Min,3244.67,3247.40,3244.67,3247.22,34024.0
1,.INX,NaN,Market Price,2020-01-02T14:31:00.000000000Z,-6,Intraday 1Min,3247.19,3247.22,3245.01,3245.22,8945.0
2,.INX,NaN,Market Price,2020-01-02T14:32:00.000000000Z,-6,Intraday 1Min,3245.07,3245.54,3244.16,3244.66,7437.0
3,.INX,NaN,Market Price,2020-01-02T14:33:00.000000000Z,-6,Intraday 1Min,3244.89,3247.69,3244.89,3247.61,6557.0
4,.INX,NaN,Market Price,2020-01-02T14:34:00.000000000Z,-6,Intraday 1Min,3247.38,3248.08,3246.92,3246.92,6075.0

In [10]:
df.drop(columns=["Volume", "Domain", "#RIC"], axis=1, inplace=True)
df.head()

KeyError: "['Volume', 'Domain', '#RIC'] not found in axis"

In [11]:
df.head()

,Alias Underlying RIC,Date-Time,GMT Offset,Type,Open,High,Low,Last
0,NaN,2020-01-02T14:30:00.000000000Z,-6,Intraday 1Min,3244.67,3247.40,3244.67,3247.22
1,NaN,2020-01-02T14:31:00.000000000Z,-6,Intraday 1Min,3247.19,3247.22,3245.01,3245.22
2,NaN,2020-01-02T14:32:00.000000000Z,-6,Intraday 1Min,3245.07,3245.54,3244.16,3244.66
3,NaN,2020-01-02T14:33:00.000000000Z,-6,Intraday 1Min,3244.89,3247.69,3244.89,3247.61
4,NaN,2020-01-02T14:34:00.000000000Z,-6,Intraday 1Min,3247.38,3248.08,3246.92,3246.92

In [12]:
df.drop(columns=["Alias Underlying RIC", "GMT Offset", "Type"], axis=1, inplace=True)

In [13]:
df["Close"] = df["Last"]

In [14]:
df.drop(columns=["Last"], axis=1, inplace=True)
df.head()

                        Date-Time     Open     High      Low    Close
0  2020-01-02T14:30:00.000000000Z  3244.67  3247.40  3244.67  3247.22
1  2020-01-02T14:31:00.000000000Z  3247.19  3247.22  3245.01  3245.22
2  2020-01-02T14:32:00.000000000Z  3245.07  3245.54  3244.16  3244.66
3  2020-01-02T14:33:00.000000000Z  3244.89  3247.69  3244.89  3247.61
4  2020-01-02T14:34:00.000000000Z  3247.38  3248.08  3246.92  3246.92

In [15]:
df.shape

(558163, 5)

In [16]:
df.tail()

,Date-Time,Open,High,Low,Close
558158,2025-05-19T23:30:00.000000000Z,5963.6044,5963.6044,5963.6044,5963.6044
558159,2025-05-20T21:40:00.000000000Z,5940.4637,5940.4637,5940.4637,5940.4637
558160,2025-05-20T22:10:00.000000000Z,5940.4637,5940.4637,5940.4637,5940.4637
558161,2025-05-20T22:20:00.000000000Z,5940.4637,5940.4637,5940.4637,5940.4637
558162,2025-05-20T23:10:00.000000000Z,5940.4637,5940.4637,5940.4637,5940.4637

In [17]:
df.to_parquet("cold_storage/CBOE/Index/SPX/CBOE_Index_SPX.parquet")

In [ ]:
df.to_parquet("cold_storage/CBOE/Index/SPX/CBOE_Index_SPX.parquet")

In [3]:
df = pd.read_parquet("cold_storage/CBOE/Index/SPX/CBOE_Index_SPX.parquet")

In [6]:
df['o'] = df['Open']
df['h'] = df['High']
df['l'] = df['Low']
df['c'] = df['Close']
df['timestamp'] = df['Date-Time']

In [7]:
df.head()

,Date-Time,Open,High,Low,Close,o,h,l,c,timestamp
0,2020-01-02T14:30:00.000000000Z,3244.67,3247.40,3244.67,3247.22,3244.67,3247.40,3244.67,3247.22,2020-01-02T14:30:00.000000000Z
1,2020-01-02T14:31:00.000000000Z,3247.19,3247.22,3245.01,3245.22,3247.19,3247.22,3245.01,3245.22,2020-01-02T14:31:00.000000000Z
2,2020-01-02T14:32:00.000000000Z,3245.07,3245.54,3244.16,3244.66,3245.07,3245.54,3244.16,3244.66,2020-01-02T14:32:00.000000000Z
3,2020-01-02T14:33:00.000000000Z,3244.89,3247.69,3244.89,3247.61,3244.89,3247.69,3244.89,3247.61,2020-01-02T14:33:00.000000000Z
4,2020-01-02T14:34:00.000000000Z,3247.38,3248.08,3246.92,3246.92,3247.38,3248.08,3246.92,3246.92,2020-01-02T14:34:00.000000000Z

In [8]:
df.drop(columns=["Open", "High", "Low", "Close"], axis=1, inplace=True)
df.head()

,Date-Time,o,h,l,c,timestamp
0,2020-01-02T14:30:00.000000000Z,3244.67,3247.40,3244.67,3247.22,2020-01-02T14:30:00.000000000Z
1,2020-01-02T14:31:00.000000000Z,3247.19,3247.22,3245.01,3245.22,2020-01-02T14:31:00.000000000Z
2,2020-01-02T14:32:00.000000000Z,3245.07,3245.54,3244.16,3244.66,2020-01-02T14:32:00.000000000Z
3,2020-01-02T14:33:00.000000000Z,3244.89,3247.69,3244.89,3247.61,2020-01-02T14:33:00.000000000Z
4,2020-01-02T14:34:00.000000000Z,3247.38,3248.08,3246.92,3246.92,2020-01-02T14:34:00.000000000Z

In [9]:
df.drop(columns=["Date-Time"], axis=1, inplace=True)
df.head()

         o        h        l        c                       timestamp
0  3244.67  3247.40  3244.67  3247.22  2020-01-02T14:30:00.000000000Z
1  3247.19  3247.22  3245.01  3245.22  2020-01-02T14:31:00.000000000Z
2  3245.07  3245.54  3244.16  3244.66  2020-01-02T14:32:00.000000000Z
3  3244.89  3247.69  3244.89  3247.61  2020-01-02T14:33:00.000000000Z
4  3247.38  3248.08  3246.92  3246.92  2020-01-02T14:34:00.000000000Z

In [10]:
df.to_parquet("cold_storage/CBOE/Index/SPX/CBOE_Index_SPX.parquet")

In [11]:
df = pd.read_pickle("cold_storage/NSE Main Pickle.pkl")

In [12]:
df.head()

4,Date,Open (Unit Curr),High (Unit Curr),Low (Unit Curr),Close (Unit Curr),Volume (000's),No of Trades,Value,Market Cap,TTM PE(x),Cons TTM PE(x),Index,P/BV(x),Cons P/BV(x),EV/EBIDTA(x),Cons EV/EBIDTA(x),MCAP/Sales(x),Cons MCAP/Sales(x),Accord Code
5,2025-04-29 00:00:00,77.45,77.45,74.67,74.92,4.001,85,0.030069,78.666,2.849598,1.978521,24335.95,1.207905,0.859118,2.594274,1.627486,2.425343,0.567576,126921
6,2025-04-28 00:00:00,78.3,78.3,75.69,76.2,4.834,88,0.036742,80.01,2.898283,2.012324,24328.5,1.228542,0.873796,2.638455,1.656775,2.46678,0.577273,126921
7,2025-04-25 00:00:00,78.7,80,77.06,77.21,4.412,111,0.034288,81.0705,2.936699,2.038996,24039.35,1.244825,0.885378,2.673317,1.679887,2.499476,0.584924,126921
8,2025-04-24 00:00:00,80,80.7,78.1,78.64,2.934,115,0.023258,82.572,2.991089,2.076761,24246.7,1.267881,0.901776,2.722676,1.71261,2.545768,0.595758,126921
9,2025-04-23 00:00:00,80.3,80.3,77.55,79.14,5.501,141,0.04379,83.097,3.010106,2.089965,24328.95,1.275942,0.907509,2.739934,1.724051,2.561955,0.599545,126921

In [13]:
df['Accord Code'].nunique()

3663

In [14]:
df['timestamp'] = df['Date']
df.drop(columns=["Value", 'Index', 'Date'], inplace=True)
df.head()

4,Open (Unit Curr),High (Unit Curr),Low (Unit Curr),Close (Unit Curr),Volume (000's),No of Trades,Market Cap,TTM PE(x),Cons TTM PE(x),P/BV(x),Cons P/BV(x),EV/EBIDTA(x),Cons EV/EBIDTA(x),MCAP/Sales(x),Cons MCAP/Sales(x),Accord Code,timestamp
5,77.45,77.45,74.67,74.92,4.001,85,78.666,2.849598,1.978521,1.207905,0.859118,2.594274,1.627486,2.425343,0.567576,126921,2025-04-29 00:00:00
6,78.3,78.3,75.69,76.2,4.834,88,80.01,2.898283,2.012324,1.228542,0.873796,2.638455,1.656775,2.46678,0.577273,126921,2025-04-28 00:00:00
7,78.7,80,77.06,77.21,4.412,111,81.0705,2.936699,2.038996,1.244825,0.885378,2.673317,1.679887,2.499476,0.584924,126921,2025-04-25 00:00:00
8,80,80.7,78.1,78.64,2.934,115,82.572,2.991089,2.076761,1.267881,0.901776,2.722676,1.71261,2.545768,0.595758,126921,2025-04-24 00:00:00
9,80.3,80.3,77.55,79.14,5.501,141,83.097,3.010106,2.089965,1.275942,0.907509,2.739934,1.724051,2.561955,0.599545,126921,2025-04-23 00:00:00

In [15]:
df['o'] = df['Open (Unit Curr)']
df['h'] = df['High (Unit Curr)']
df['l'] = df['Low (Unit Curr)']
df['c'] = df['Close (Unit Curr)']
df['v'] = df["Volume (000's)"]