In [15]:
import duckdb
import pandas as pd

con = duckdb.connect('/mnt/disk2/qode_edw_bp.db')

exchange = 'NSE'
underlying = 'NIFTY'
expiry_old = '20230330'
expiry_new = '20230329'

tables = con.execute(f"""
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'market_data'
      AND table_name LIKE '{exchange}_Options_{underlying}_{expiry_old}_%'
""").fetchdf()['table_name'].tolist()

print(tables)

for old_table in tables:
    parts = old_table.split('_')
    strike = parts[4]
    opt_type = parts[5]
    new_table = f"{exchange}_Options_{underlying}_{expiry_new}_{strike}_{opt_type}"

    df = con.execute(f"SELECT * FROM market_data.{old_table}").fetchdf()

    con.execute(f"""
        CREATE TABLE IF NOT EXISTS market_data.{new_table} AS
        SELECT * FROM market_data.{old_table} WHERE 1=0
    """)

    print(df.head())

    df_new = con.execute(f"SELECT * FROM market_data.{new_table}").fetchdf()

    print(df_new.head())

    con.execute(f"ALTER TABLE market_data.{new_table} DROP COLUMN IF EXISTS iv")
    con.execute(f"ALTER TABLE market_data.{new_table} DROP COLUMN IF EXISTS theta")
    con.execute(f"ALTER TABLE market_data.{new_table} DROP COLUMN IF EXISTS rho")
    con.execute(f"ALTER TABLE market_data.{new_table} DROP COLUMN IF EXISTS vega")
    con.execute(f"ALTER TABLE market_data.{new_table} DROP COLUMN IF EXISTS delta")
    con.execute(f"ALTER TABLE market_data.{new_table} DROP COLUMN IF EXISTS gamma")
    
    col_order = con.execute(f"PRAGMA table_info(market_data.{new_table})").fetchdf()['name'].tolist()
    df = df[col_order]  # Reorder columns

    con.register('df_view', df)
    con.execute(f"INSERT INTO market_data.{new_table} SELECT * FROM df_view")
    con.unregister('df_view')

    print(f"Inserted {len(df)} rows from {old_table} to {new_table}")

con.close()

['NSE_Options_NIFTY_20230330_11000_put', 'NSE_Options_NIFTY_20230330_12000_put', 'NSE_Options_NIFTY_20230330_13000_call', 'NSE_Options_NIFTY_20230330_13000_put', 'NSE_Options_NIFTY_20230330_14000_call', 'NSE_Options_NIFTY_20230330_14000_put', 'NSE_Options_NIFTY_20230330_15000_call', 'NSE_Options_NIFTY_20230330_15000_put', 'NSE_Options_NIFTY_20230330_16000_call', 'NSE_Options_NIFTY_20230330_16000_put', 'NSE_Options_NIFTY_20230330_17000_call', 'NSE_Options_NIFTY_20230330_17000_put', 'NSE_Options_NIFTY_20230330_18000_call', 'NSE_Options_NIFTY_20230330_18000_put', 'NSE_Options_NIFTY_20230330_19000_call', 'NSE_Options_NIFTY_20230330_19000_put', 'NSE_Options_NIFTY_20230330_20000_call', 'NSE_Options_NIFTY_20230330_20000_put', 'NSE_Options_NIFTY_20230330_21000_call', 'NSE_Options_NIFTY_20230330_21000_put', 'NSE_Options_NIFTY_20230330_22000_call', 'NSE_Options_NIFTY_20230330_22000_put', 'NSE_Options_NIFTY_20230330_23000_call', 'NSE_Options_NIFTY_20230330_24000_call']
            timestamp     o     h     l     c   v  oi
0 2022-11-29 09:27:00  3.05  3.05  3.05  3.05  51   0
1 2022-12-09 15:22:00  3.05  3.05  3.05  3.05  51  50
      o     h     l     c    v   oi           timestamp
0  3.05  3.05  3.05  3.05   51  100 2022-12-29 15:00:00
1  3.05  6.05  3.05  6.05  151  150 2022-12-30 09:19:00
2  6.05  6.05  6.05  6.05  200  300 2022-12-30 09:20:00
3  6.05  6.05  6.05  6.05  100  300 2022-12-30 09:21:00
4  6.05  6.05  6.00  6.00  350  550 2022-12-30 09:23:00
Inserted 2 rows from NSE_Options_NIFTY_20230330_11000_put to NSE_Options_NIFTY_20230329_11000_put
        o      h       l      c    v   oi           timestamp        iv
0   70.00   70.0   70.00   70.0   51    0 2022-06-08 09:26:00  0.450911
1  110.00  110.0  110.00  110.0   51   50 2022-06-16 11:40:00  0.449980
2  110.00  110.0  110.00  110.0   50   50 2022-06-16 13:00:00  0.442866
3   80.10   80.1   80.10   80.1   51  100 2022-06-23 12:50:00  0.406987
4   99.05   99.1   99.05   99.1  151  150 2022-07-18 10:22:00  0.504875
      o     h     l     c    v    oi           timestamp  delta  gamma  theta  \
0  3.05  3.05  3.05  3.05  250  1150 2023-01-11 13:16:00   <NA>   <NA>   <NA>
1  3.05  3.05  3.00  3.00  150  1200 2023-01-25 14:21:00   <NA>   <NA>   <NA>
2  3.05  3.05  3.05  3.05  150  1050 2023-01-25 14:22:00   <NA>   <NA>   <NA>
3  3.05  3.05  3.05  3.05   50  1050 2023-01-25 15:15:00   <NA>   <NA>   <NA>
4  3.00  3.00  3.00  3.00   50  1000 2023-01-25 15:17:00   <NA>   <NA>   <NA>

   vega   rho
0  <NA>  <NA>
1  <NA>  <NA>
2  <NA>  <NA>
3  <NA>  <NA>
4  <NA>  <NA>
Inserted 36 rows from NSE_Options_NIFTY_20230330_12000_put to NSE_Options_NIFTY_20230329_12000_put
         o        h        l        c   v   oi           timestamp    IV  \
0  5729.35  5729.35  5729.35  5729.35  51    0 2022-12-08 12:47:00  <NA>
1  5636.60  5636.60  5636.60  5636.60  51   50 2022-12-12 12:53:00  <NA>
2  5615.45  5615.45  5615.45  5615.45  50  100 2022-12-12 13:25:00  <NA>
3  5719.05  5719.05  5719.05  5719.05  51  150 2022-12-13 11:59:00  <NA>
4  5713.30  5713.30  5713.30  5713.30  50  200 2022-12-13 12:00:00  <NA>

   delta  gamma  theta  vega   rho
0   <NA>   <NA>   <NA>  <NA>  <NA>
1   <NA>   <NA>   <NA>  <NA>  <NA>
2   <NA>   <NA>   <NA>  <NA>  <NA>
3   <NA>   <NA>   <NA>  <NA>  <NA>
4   <NA>   <NA>   <NA>  <NA>  <NA>
         o        h        l        c    v      oi           timestamp    IV  \
0  5297.95  5297.95  5297.95  5297.95   51  152950 2022-12-22 10:14:00  <NA>
1  5292.05  5292.05  5287.45  5287.45  100  153000 2022-12-22 10:20:00  <NA>
2  5287.45  5290.55  5287.45  5290.55  150  153100 2022-12-22 10:24:00  <NA>
3  5288.45  5288.45  5288.45  5288.45   50  153100 2022-12-22 10:25:00  <NA>
4  5289.95  5289.95  5287.00  5287.00  250  153100 2022-12-22 10:26:00  <NA>

   delta  gamma  theta  vega   rho
0   <NA>   <NA>   <NA>  <NA>  <NA>
1   <NA>   <NA>   <NA>  <NA>  <NA>
2   <NA>   <NA>   <NA>  <NA>  <NA>
3   <NA>   <NA>   <NA>  <NA>  <NA>
4   <NA>   <NA>   <NA>  <NA>  <NA>
Inserted 524 rows from NSE_Options_NIFTY_20230330_13000_call to NSE_Options_NIFTY_20230329_13000_call
        o       h       l       c   v     oi           timestamp        iv
0    3.25    3.25    3.25    3.25  50  24600 2022-01-12 09:31:59  0.244715
1  201.00  201.00  201.00  201.00  51      0 2022-06-22 09:54:00  0.405703
2  199.00  199.00  199.00  199.00  51     50 2022-06-29 10:50:00  0.435376
3  199.00  199.00  199.00  199.00  50     50 2022-06-29 11:29:00  0.437616
4  222.05  222.05  222.05  222.05  50    100 2022-06-29 15:08:00  0.454317
      o     h     l     c    v      oi           timestamp    IV  delta  \
0  5.90  5.90  5.90  5.90   51  112500 2022-12-22 10:14:00  <NA>   <NA>
1  5.95  5.95  5.95  5.95  100  112550 2022-12-22 10:20:00  <NA>   <NA>
2  5.95  5.95  5.95  5.95  150  112650 2022-12-22 10:24:00  <NA>   <NA>
3  5.95  5.95  5.95  5.95   50  112650 2022-12-22 10:25:00  <NA>   <NA>
4  5.95  5.95  5.90  5.90  250  112650 2022-12-22 10:26:00  <NA>   <NA>

   gamma  theta  vega   rho
0   <NA>   <NA>  <NA>  <NA>
1   <NA>   <NA>  <NA>  <NA>
2   <NA>   <NA>  <NA>  <NA>
3   <NA>   <NA>  <NA>  <NA>
4   <NA>   <NA>  <NA>  <NA>
Inserted 1059 rows from NSE_Options_NIFTY_20230330_13000_put to NSE_Options_NIFTY_20230329_13000_put
         o        h        l        c   v   oi           timestamp   iv
0  4323.65  4323.65  4323.65  4323.65  51   50 2022-11-21 12:15:00  0.0
1  4300.00  4300.00  4300.00  4300.00  50   50 2022-11-21 14:48:00  0.0
2  4488.95  4488.95  4488.95  4488.95  51  100 2022-11-22 12:19:00  0.0
3  4475.00  4475.00  4475.00  4475.00  51  100 2022-11-23 11:30:00  0.0
4  4452.45  4452.45  4452.45  4452.45  50  150 2022-11-23 15:06:00  0.0
         o        h        l        c   v     oi           timestamp   iv
0  4300.00  4300.00  4300.00  4300.00  51  10850 2022-12-22 10:29:00  0.0
1  4213.20  4213.20  4213.20  4213.20  50  10900 2022-12-22 14:46:00  0.0
2  4200.15  4200.15  4200.15  4200.15  50  10900 2022-12-22 14:47:00  0.0
3  4200.15  4200.15  4200.15  4200.15  50  10900 2022-12-22 14:48:00  0.0
4  4214.70  4214.70  4214.70  4214.70  50  11000 2022-12-22 14:51:00  0.0
Inserted 145 rows from NSE_Options_NIFTY_20230330_14000_call to NSE_Options_NIFTY_20230329_14000_call
       o      h      l      c    v     oi           timestamp
0  17.00  17.00  17.00  17.00  100  60700 2022-01-12 09:16:59
1  16.55  16.55  16.55  16.55   50  60600 2022-01-12 09:35:59
2  15.05  15.05  15.00  15.00  100  60600 2022-01-12 09:41:59
3  13.20  13.55  13.20  13.55  100  60550 2022-01-12 09:56:59
4  14.05  14.05  14.05  14.05   50  60450 2022-01-12 09:57:59
       o      h      l      c   v     oi           timestamp    IV  delta  \
0  16.65  16.65  16.65  16.65  51  72300 2022-12-22 09:19:00  <NA>   <NA>
1  16.70  16.70  16.70  16.70  50  72300 2022-12-22 09:27:00  <NA>   <NA>
2  16.70  16.70  16.70  16.70  50  72350 2022-12-22 09:52:00  <NA>   <NA>
3  16.65  16.65  16.65  16.65  50  72350 2022-12-22 09:59:00  <NA>   <NA>
4  15.95  15.95  15.95  15.95  50  72450 2022-12-22 10:33:00  <NA>   <NA>

   gamma  theta  vega   rho
0   <NA>   <NA>  <NA>  <NA>
1   <NA>   <NA>  <NA>  <NA>
2   <NA>   <NA>  <NA>  <NA>
3   <NA>   <NA>  <NA>  <NA>
4   <NA>   <NA>  <NA>  <NA>
Inserted 2745 rows from NSE_Options_NIFTY_20230330_14000_put to NSE_Options_NIFTY_20230329_14000_put
         o       h        l        c    v     oi           timestamp   iv
0  4088.00  4088.0  4088.00  4088.00   50  13350 2022-01-12 09:37:59  0.0
1  4088.00  4088.0  4071.00  4071.00   50  13300 2022-01-12 11:08:59  0.0
2  4085.20  4085.2  4085.20  4085.20  100  13250 2022-01-12 11:09:59  0.0
3  4085.20  4085.2  4017.25  4017.25   50  13200 2022-01-12 14:14:59  0.0
4  4017.25  4030.0  4017.25  4030.00  650  13200 2022-01-12 15:00:59  0.0
        o       h       l       c    v     oi           timestamp   iv
0  3412.6  3412.6  3412.6  3412.6   51  60900 2022-12-22 09:37:00  0.0
1  3434.4  3434.4  3434.4  3434.4   50  60900 2022-12-22 09:46:00  0.0
2  3434.4  3434.4  3434.4  3434.4  100  60900 2022-12-22 10:10:00  0.0
3  3345.0  3345.0  3345.0  3345.0  400  61000 2022-12-22 10:15:00  0.0
4  3345.0  3345.0  3345.0  3345.0   50  61000 2022-12-22 10:17:00  0.0
Inserted 881 rows from NSE_Options_NIFTY_20230330_15000_call to NSE_Options_NIFTY_20230329_15000_call
       o      h      l      c     v      oi           timestamp    IV  delta  \
0  20.00  20.00  20.00  20.00  2100  181400 2022-01-12 09:20:59  <NA>   <NA>
1  19.90  19.95  19.90  19.95   550  181400 2022-01-12 09:21:59  <NA>   <NA>
2  19.95  19.95  19.90  19.90   500  181400 2022-01-12 09:22:59  <NA>   <NA>
3  19.95  19.95  19.95  19.95    50  180750 2022-01-12 09:26:59  <NA>   <NA>
4  18.20  18.20  18.20  18.20   100  180750 2022-01-12 09:33:59  <NA>   <NA>

   gamma  theta  vega   rho
0   <NA>   <NA>  <NA>  <NA>
1   <NA>   <NA>  <NA>  <NA>
2   <NA>   <NA>  <NA>  <NA>
3   <NA>   <NA>  <NA>  <NA>
4   <NA>   <NA>  <NA>  <NA>
       o      h      l      c    v      oi           timestamp        iv
0  27.00  27.00  26.50  26.50  251  222100 2022-12-22 09:18:00  0.424724
1  22.05  22.05  22.05  22.05  250  222100 2022-12-22 09:19:00  0.410039
2  22.05  22.05  22.05  22.05   50  222250 2022-12-22 09:21:00  0.410224
3  25.45  25.50  25.45  25.50  100  222250 2022-12-22 09:23:00  0.419623
4  25.90  25.90  25.10  25.10  200  222200 2022-12-22 09:24:00  0.418517
Inserted 7520 rows from NSE_Options_NIFTY_20230330_15000_put to NSE_Options_NIFTY_20230329_15000_put
        o       h        l        c    v     oi           timestamp    IV  \
0  3160.0  3160.0  3160.00  3160.00  100  13850 2022-01-12 11:08:59  <NA>
1  3160.0  3187.9  3160.00  3187.90   50  13800 2022-01-12 13:04:59  <NA>
2  3187.9  3187.9  3135.05  3135.05   50  13800 2022-01-12 13:22:59  <NA>
3  3115.0  3115.0  3115.00  3115.00  100  13800 2022-01-12 14:24:59  <NA>
4  3115.0  3121.8  3115.00  3121.80   50  13700 2022-01-12 14:29:59  <NA>

   delta  gamma  theta  vega   rho
0   <NA>   <NA>   <NA>  <NA>  <NA>
1   <NA>   <NA>   <NA>  <NA>  <NA>
2   <NA>   <NA>   <NA>  <NA>  <NA>
3   <NA>   <NA>   <NA>  <NA>  <NA>
4   <NA>   <NA>   <NA>  <NA>  <NA>
         o        h        l        c    v     oi           timestamp   iv
0  2392.00  2392.00  2392.00  2392.00   51  12950 2022-12-22 13:28:00  0.0
1  2326.95  2326.95  2326.95  2326.95   51  12900 2022-12-23 09:56:00  0.0
2  2245.00  2245.00  2245.00  2245.00  100  12850 2022-12-23 10:27:00  0.0
3  2266.00  2266.00  2240.00  2240.00  200  12900 2022-12-23 10:30:00  0.0
4  2240.00  2258.00  2240.00  2258.00  100  12950 2022-12-23 10:48:00  0.0
Inserted 673 rows from NSE_Options_NIFTY_20230330_16000_call to NSE_Options_NIFTY_20230329_16000_call
       o      h     l      c    v      oi           timestamp        iv
0  40.00  44.95  40.0  44.95  100  417300 2022-01-12 09:16:59  0.173007
1  44.95  44.95  40.7  40.70   50  417300 2022-01-12 09:17:59  0.168854
2  40.70  41.50  40.7  41.50  250  417300 2022-01-12 09:19:59  0.170154
3  41.50  41.50  41.0  41.00  250  417450 2022-01-12 09:20:59  0.168987
4  40.20  40.20  40.1  40.10  100  417450 2022-01-12 09:21:59  0.168502
       o      h      l      c    v      oi           timestamp        iv
0  46.75  46.75  46.75  46.75  501  487100 2022-12-22 09:15:00  0.353324
1  46.95  47.50  46.95  47.50  400  487100 2022-12-22 09:17:00  0.349519
2  47.50  47.50  45.80  45.80  100  487350 2022-12-22 09:18:00  0.346732
3  45.80  47.30  45.80  47.30  200  487350 2022-12-22 09:19:00  0.348029
4  47.60  47.70  47.60  47.70  150  487350 2022-12-22 09:20:00  0.348205
Inserted 12370 rows from NSE_Options_NIFTY_20230330_16000_put to NSE_Options_NIFTY_20230329_16000_put
         o        h        l        c    v      oi           timestamp   iv
0  2240.00  2240.05  2240.00  2240.05  100  282350 2022-01-12 09:20:59  0.0
1  2236.75  2236.75  2236.75  2236.75   50  282300 2022-01-12 09:25:59  0.0
2  2236.75  2236.75  2223.40  2223.40   50  282300 2022-01-12 09:35:59  0.0
3  2223.40  2254.60  2223.40  2254.60  200  282300 2022-01-12 09:37:59  0.0
4  2238.00  2238.00  2223.40  2223.40  250  282250 2022-01-12 09:47:59  0.0
         o        h        l        c    v      oi           timestamp    IV  \
0  1599.00  1599.00  1599.00  1599.00   51  281500 2022-12-22 09:32:00  <NA>
1  1592.15  1592.15  1592.15  1592.15  100  281500 2022-12-22 09:42:00  <NA>
2  1592.15  1600.25  1592.15  1600.25  250  281500 2022-12-22 09:43:00  <NA>
3  1630.50  1630.50  1630.50  1630.50   50  281350 2022-12-22 09:49:00  <NA>
4  1630.50  1630.50  1630.50  1630.50  100  281300 2022-12-22 10:13:00  <NA>

   delta  gamma  theta  vega   rho
0   <NA>   <NA>   <NA>  <NA>  <NA>
1   <NA>   <NA>   <NA>  <NA>  <NA>
2   <NA>   <NA>   <NA>  <NA>  <NA>
3   <NA>   <NA>   <NA>  <NA>  <NA>
4   <NA>   <NA>   <NA>  <NA>  <NA>
Inserted 5621 rows from NSE_Options_NIFTY_20230330_17000_call to NSE_Options_NIFTY_20230329_17000_call
       o      h      l      c     v      oi           timestamp    IV  delta  \
0  96.00  96.05  93.95  93.95  1250  888450 2022-01-12 09:16:59  <NA>   <NA>
1  93.95  96.00  93.95  95.95   550  888200 2022-01-12 09:17:59  <NA>   <NA>
2  96.00  96.00  94.50  94.50   800  888200 2022-01-12 09:18:59  <NA>   <NA>
3  95.00  95.00  91.00  91.00   650  888200 2022-01-12 09:19:59  <NA>   <NA>
4  91.00  94.75  91.00  92.05   500  889050 2022-01-12 09:20:59  <NA>   <NA>

   gamma  theta  vega   rho
0   <NA>   <NA>  <NA>  <NA>
1   <NA>   <NA>  <NA>  <NA>
2   <NA>   <NA>  <NA>  <NA>
3   <NA>   <NA>  <NA>  <NA>
4   <NA>   <NA>  <NA>  <NA>
        c       h       l       oi       o    v           timestamp
0  112.15  112.15  112.15  1161400  112.15   51 2022-12-22 09:15:00
1  112.00  113.50  110.05  1161400  112.15  950 2022-12-22 09:16:00
2  113.00  113.00  113.00  1161400  113.00  100 2022-12-22 09:17:00
3  117.60  117.60  117.60  1160950  117.60  200 2022-12-22 09:18:00
4  116.00  116.00  116.00  1160950  116.00  300 2022-12-22 09:19:00
Inserted 17490 rows from NSE_Options_NIFTY_20230330_17000_put to NSE_Options_NIFTY_20230329_17000_put
         o        h        l        c    v      oi           timestamp   iv
0  1370.05  1370.05  1370.00  1370.00  100  563500 2022-01-12 09:16:59  0.0
1  1370.00  1379.85  1370.00  1379.85  100  563500 2022-01-12 09:17:59  0.0
2  1370.05  1380.00  1370.05  1380.00  500  563550 2022-01-12 09:18:59  0.0
3  1380.00  1380.00  1380.00  1380.00  600  563550 2022-01-12 09:19:59  0.0
4  1380.00  1390.15  1380.00  1389.00  150  563250 2022-01-12 09:20:59  0.0
        o       h       l       c    v      oi           timestamp   iv
0  903.45  903.50  899.95  903.50  302  485050 2022-12-22 09:16:00  0.0
1  841.70  874.80  841.70  874.80  200  485050 2022-12-22 09:17:00  0.0
2  875.20  875.20  875.20  875.20   50  485100 2022-12-22 09:18:00  0.0
3  894.10  897.65  883.90  889.35  700  485100 2022-12-22 09:19:00  0.0
4  888.25  888.25  888.25  888.25   50  485100 2022-12-22 09:20:00  0.0
Inserted 12755 rows from NSE_Options_NIFTY_20230330_18000_call to NSE_Options_NIFTY_20230329_18000_call
        o       h       l      c     v      oi           timestamp    IV  \
0  203.00  224.65  203.00  216.0   400  985700 2022-01-12 09:15:59  <NA>
1  216.00  216.00  213.00  213.5  1550  985700 2022-01-12 09:16:59  <NA>
2  213.75  223.85  213.65  221.0   850  986100 2022-01-12 09:17:59  <NA>
3  221.00  221.00  214.00  214.0  1150  986100 2022-01-12 09:18:59  <NA>
4  214.95  214.95  213.00  213.0  1250  986100 2022-01-12 09:19:59  <NA>

   delta  gamma  theta  vega   rho
0   <NA>   <NA>   <NA>  <NA>  <NA>
1   <NA>   <NA>   <NA>  <NA>  <NA>
2   <NA>   <NA>   <NA>  <NA>  <NA>
3   <NA>   <NA>   <NA>  <NA>  <NA>
4   <NA>   <NA>   <NA>  <NA>  <NA>
        o       h       l       c     v       oi           timestamp    IV  \
0  307.95  308.00  301.15  306.05   901  1090250 2022-12-22 09:15:00  <NA>
1  305.00  312.75  302.60  310.30  1350  1090250 2022-12-22 09:16:00  <NA>
2  311.00  330.95  311.00  322.05   300  1090250 2022-12-22 09:17:00  <NA>
3  314.95  316.20  311.00  314.85  1400  1089850 2022-12-22 09:18:00  <NA>
4  314.85  318.00  310.85  318.00   800  1089850 2022-12-22 09:19:00  <NA>

   delta  gamma  theta  vega   rho
0   <NA>   <NA>   <NA>  <NA>  <NA>
1   <NA>   <NA>   <NA>  <NA>  <NA>
2   <NA>   <NA>   <NA>  <NA>  <NA>
3   <NA>   <NA>   <NA>  <NA>  <NA>
4   <NA>   <NA>   <NA>  <NA>  <NA>
Inserted 19519 rows from NSE_Options_NIFTY_20230330_18000_put to NSE_Options_NIFTY_20230329_18000_put
        o       h       l       c    v      oi           timestamp    IV  \
0  649.00  687.40  649.00  659.85  800  441450 2022-01-12 09:15:59  <NA>
1  659.85  659.85  650.00  650.00  800  441450 2022-01-12 09:16:59  <NA>
2  650.00  659.00  650.00  658.95  300  440700 2022-01-12 09:17:59  <NA>
3  658.95  668.00  658.95  668.00  450  440700 2022-01-12 09:18:59  <NA>
4  668.00  668.00  660.00  661.00  300  440700 2022-01-12 09:19:59  <NA>

   delta  gamma  theta  vega   rho
0   <NA>   <NA>   <NA>  <NA>  <NA>
1   <NA>   <NA>   <NA>  <NA>  <NA>
2   <NA>   <NA>   <NA>  <NA>  <NA>
3   <NA>   <NA>   <NA>  <NA>  <NA>
4   <NA>   <NA>   <NA>  <NA>  <NA>
        o       h       l       c     v      oi           timestamp        iv
0  307.00  358.15  307.00  358.15   101  520600 2022-12-22 09:15:00  0.309978
1  358.15  358.15  344.95  344.95   200  520600 2022-12-22 09:16:00  0.311869
2  340.60  345.00  340.60  345.00   150  520600 2022-12-22 09:17:00  0.312330
3  345.00  354.70  345.00  354.70  1350  520700 2022-12-22 09:18:00  0.317534
4  350.00  353.20  349.00  349.00   600  520700 2022-12-22 09:19:00  0.316715
Inserted 13750 rows from NSE_Options_NIFTY_20230330_19000_call to NSE_Options_NIFTY_20230329_19000_call
        o      h       l       c     v      oi           timestamp   iv
0  449.95  470.0  425.35  459.95   950  322700 2022-01-12 09:15:59  0.0
1  459.95  470.0  459.50  459.50  4400  322700 2022-01-12 09:16:59  0.0
2  461.00  465.0  461.00  465.00   350  325750 2022-01-12 09:17:59  0.0
3  463.00  466.9  460.60  463.00  1250  325750 2022-01-12 09:18:59  0.0
4  463.35  464.0  461.95  461.95   600  325750 2022-01-12 09:19:59  0.0
       o       h       l       c     v      oi           timestamp   iv
0  729.6  731.00  729.60  731.00   201  485950 2022-12-22 09:16:00  0.0
1  750.0  750.00  735.80  735.80   350  485950 2022-12-22 09:17:00  0.0
2  733.0  740.00  731.80  734.35   700  486150 2022-12-22 09:18:00  0.0
3  734.4  738.35  727.25  738.35  1200  486150 2022-12-22 09:19:00  0.0
4  740.0  755.90  740.00  755.90   600  486150 2022-12-22 09:20:00  0.0
Inserted 10419 rows from NSE_Options_NIFTY_20230330_19000_put to NSE_Options_NIFTY_20230329_19000_put
        o       h       l       c     v      oi           timestamp        iv
0  189.95  192.95  182.00  192.95  2350  366600 2022-01-12 09:15:59  0.159076
1  192.95  196.00  192.95  195.00  3500  366600 2022-01-12 09:16:59  0.160356
2  195.00  195.00  190.30  190.30  2250  365500 2022-01-12 09:17:59  0.159442
3  190.30  195.50  190.30  195.50  1450  365500 2022-01-12 09:18:59  0.160892
4  195.50  195.50  191.15  191.50  1400  365500 2022-01-12 09:19:59  0.158968
      c      h     l      oi      o    v           timestamp
0  85.1  85.10  85.1  489600  85.10  351 2022-12-22 09:16:00
1  85.0  85.05  85.0  489600  85.05  150 2022-12-22 09:17:00
2  85.0  85.00  85.0  489850  85.00  200 2022-12-22 09:18:00
3  85.2  85.20  85.2  489850  85.20   50 2022-12-22 09:19:00
4  89.9  89.90  86.4  489850  86.40  600 2022-12-22 09:20:00
Inserted 11332 rows from NSE_Options_NIFTY_20230330_20000_call to NSE_Options_NIFTY_20230329_20000_call
         o        h       l       c    v     oi           timestamp
0  1000.00  1000.00  980.00  980.00  300  34750 2022-01-12 09:15:59
1   980.00   982.60  980.00  980.00  250  34750 2022-01-12 09:16:59
2   980.00   980.00  979.45  979.45   50  35050 2022-01-12 09:17:59
3   979.45   979.45  970.00  974.05  300  35050 2022-01-12 09:18:59
4   974.05   974.05  974.00  974.00  450  35050 2022-01-12 09:19:59

: