In [57]:
import pandas as pd

df = pd.read_pickle("cold_storage/NSE Main Pickle.pkl")
df.head()

4,Date,Open (Unit Curr),High (Unit Curr),Low (Unit Curr),Close (Unit Curr),Volume (000's),No of Trades,Value,Market Cap,TTM PE(x),Cons TTM PE(x),Index,P/BV(x),Cons P/BV(x),EV/EBIDTA(x),Cons EV/EBIDTA(x),MCAP/Sales(x),Cons MCAP/Sales(x),Accord Code
5,2025-04-29 00:00:00,77.45,77.45,74.67,74.92,4.001,85,0.030069,78.666,2.849598,1.978521,24335.95,1.207905,0.859118,2.594274,1.627486,2.425343,0.567576,126921
6,2025-04-28 00:00:00,78.3,78.3,75.69,76.2,4.834,88,0.036742,80.01,2.898283,2.012324,24328.5,1.228542,0.873796,2.638455,1.656775,2.46678,0.577273,126921
7,2025-04-25 00:00:00,78.7,80,77.06,77.21,4.412,111,0.034288,81.0705,2.936699,2.038996,24039.35,1.244825,0.885378,2.673317,1.679887,2.499476,0.584924,126921
8,2025-04-24 00:00:00,80,80.7,78.1,78.64,2.934,115,0.023258,82.572,2.991089,2.076761,24246.7,1.267881,0.901776,2.722676,1.71261,2.545768,0.595758,126921
9,2025-04-23 00:00:00,80.3,80.3,77.55,79.14,5.501,141,0.04379,83.097,3.010106,2.089965,24328.95,1.275942,0.907509,2.739934,1.724051,2.561955,0.599545,126921

In [58]:
df['timestamp'] = df['Date']
df['o'] = df['Open (Unit Curr)']
df['h'] = df['High (Unit Curr)']
df['l'] = df['Low (Unit Curr)']
df['c'] = df['Close (Unit Curr)']
df['v'] = df["Volume (000's)"] * 1000
df['v'].fillna(0, inplace=True)
df['v'] = df['v'].astype(int)
df.drop(columns=['Open (Unit Curr)', 'Close (Unit Curr)', 'High (Unit Curr)', 'Low (Unit Curr)', "Volume (000's)", "Value", 'Index', 'Date'], inplace=True)
df.head()

/tmp/ipykernel_32821/417335324.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['v'].fillna(0, inplace=True)
/tmp/ipykernel_32821/417335324.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['v'].fillna(0, inplace=True)

4,No of Trades,Market Cap,TTM PE(x),Cons TTM PE(x),P/BV(x),Cons P/BV(x),EV/EBIDTA(x),Cons EV/EBIDTA(x),MCAP/Sales(x),Cons MCAP/Sales(x),Accord Code,timestamp,o,h,l,c,v
5,85,78.666,2.849598,1.978521,1.207905,0.859118,2.594274,1.627486,2.425343,0.567576,126921,2025-04-29 00:00:00,77.45,77.45,74.67,74.92,4001
6,88,80.01,2.898283,2.012324,1.228542,0.873796,2.638455,1.656775,2.46678,0.577273,126921,2025-04-28 00:00:00,78.3,78.3,75.69,76.2,4834
7,111,81.0705,2.936699,2.038996,1.244825,0.885378,2.673317,1.679887,2.499476,0.584924,126921,2025-04-25 00:00:00,78.7,80,77.06,77.21,4412
8,115,82.572,2.991089,2.076761,1.267881,0.901776,2.722676,1.71261,2.545768,0.595758,126921,2025-04-24 00:00:00,80,80.7,78.1,78.64,2934
9,141,83.097,3.010106,2.089965,1.275942,0.907509,2.739934,1.724051,2.561955,0.599545,126921,2025-04-23 00:00:00,80.3,80.3,77.55,79.14,5501

In [ ]:
for col in list(df.columns):
    if col != 'timestamp' and df[col].dtype != 'int':
        print(df[col].dtype)
        df[col] = df[col].astype(float)
        print(df[col].dtype)

float64

TypeError: 'int' object is not callable